/* =================================
------------------------------------
  Nexeet
  Version: 0.9
 ------------------------------------
 ====================================*/



/*----------------------------------------*/
/* begin
/*----------------------------------------*/

html,
body {
    margin: 0;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

/*------------------
 CSS helper
------------------*/


/*------------------
 Common elements
------------------*/


/*------------------
 Header section
------------------*/
#header-section{
    position: absolute;
    width: 100%;
    padding-top: 20px;
    z-index: 10;
}

#main-menu {
    list-style: none;
    float: right;
    padding-top: 20px;
}

/*------------------
 Top section
------------------*/
#top-section{
    background: url('../img/bg.jpg');
    background-size: cover;      
    background-repeat: no-repeat;
    background-position: center center; 
    height: 100vh;
}