/* =================================
------------------------------------
  Nexeet
  Version: 0.9
 ------------------------------------
 ====================================*/



/*----------------------------------------*/
/* begin
/*----------------------------------------*/

html,
body {
    margin: 0;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

/*------------------
 CSS helper
------------------*/


/*------------------
 Common elements
------------------*/


/*------------------
 Header section
------------------*/


/*------------------
 Top section
------------------*/