/* =================================
------------------------------------
  Nexeet
  Version: 0.9
 ------------------------------------
 ====================================*/



/*----------------------------------------*/
/* begin
/*----------------------------------------*/

html,
body {
    margin: 0;
	height: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
}

/*------------------
 CSS helper
------------------*/


/*------------------
 Common elements
------------------*/
.site-btn{
    background: #4e008e;
	color: #fff;
	font-size: 14px;
	padding: 12px 19px;
	line-height: 1;
    border-radius: 14px;
    
}

/*------------------
 Header section
------------------*/
#header-section{
    /* position: absolute; */
    width: 100%;
    padding-top: 20px;
    height: 5vh;
    /* z-index: 10; */
}

.main-menu {
    list-style: none;
    float: right;
    padding-top: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main-menu li{
    display: inline;
}

.main-menu li a{
    display: inline-block;
    margin-left: 30px;
    color: #4e008e;
    font-weight: bold;
}

.user-panel-button {
	float: right;
	background: #4e008e;
	color: #fff;
	font-size: 14px;
	padding: 12px 19px;
	line-height: 1;
    border-radius: 14px;
    
	margin-left: 30px;
	margin-right: 70px;
    margin-top: 1rem;
}

.user-panel-button a {
    color: #fff;
    font-weight: bold;
}

.site-logo {
	display: inline-block;
    margin-left: 50px;
}
.site-logo img{
    height:50px;
}
.nav-warp {
	float: right;
}

/*------------------
 Top section
------------------*/
#top-section{
    background: url('../img/header-bg.png');
    background-size: cover;      
    background-repeat: no-repeat;
    background-position: center center; 
    height: 95vh;
}

.top-content {
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
    position: relative;
    color: #4e008e;
}


    /* ---- rocket---*/
    .top-rocket {
        /*position: absolute;
        bottom: 20vh;
        right: -198px;*/
    }

    .top-rocket img {
        position: relative;
    }
    .top-rocket{
        -webkit-animation: rocket 2s linear infinite;
        animation: rocket 2s linear infinite;
    }

    /* ---------- rocket animation ----------*/
    
    @-webkit-keyframes rocket {
        0% {
            left: 2px;
            bottom: 2px;
        }
        25% {
            left: -2px;
            bottom: 2px;
        }
        50% {
            left: -2px;
            bottom: 0px;
        }
        75% {
            left: 0px;
            bottom: 0px;
        }
        100% {
            left: 2px;
            bottom: 2px;
        }
    }

    @keyframes rocket {
        0% {
            left: 2px;
            bottom: 2px;
        }
        25% {
            left: -2px;
            bottom: 2px;
        }
        50% {
            left: -2px;
            bottom: 0px;
        }
        75% {
            left: 0px;
            bottom: 0px;
        }
        100% {
            left: 2px;
            bottom: 2px;
        }
    }

  /* ---- down arrow sign---*/
  #down-arrow-btn{
    position: absolute;
    width: 100vw;
    bottom: 20px;
    margin: auto;
    cursor: pointer;
  }
  #down-arrow-btn a{
    background: #4e008e;
    color: #fff;
    font-size: 14px;
    padding: 12px 19px;
    line-height: 1;
    border-radius: 14px;
    font-weight: bold;
  }


      